@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
*{font-family: 'NanumSquare';}

/* #navigation {
    height: 30px;
    background-color:rgb(210, 16, 9);
} */

nav ul {
    background-color:rgb(210, 16, 9);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul li {
    margin: 0.7% 1% 0.7% 0%;
    font-size: 0.6vw;
    color:white;
}
nav ul li a{
    color:white;
    font-weight:bolder;
    text-decoration:none;
}
nav ul li a:hover{
    color:grey;
}

#logo{
    padding:25px;
    padding:1.3vw;
    float:left;
    width: 100%;
    height: auto;
}

#menu {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    column-gap:3%;   
    align-items: center;
}

#menu li:first-child {
    margin-right: auto;
}

#menu li a{
    color:rgb(92, 91, 95);
    text-decoration:none;
    font-weight:800;
    font-size:1.4vw;
    /* font-size: 120%; */
}
#menu li:last-child {
    margin: 0% 3% 0% 0%;
}
#menu li a:hover{
    color:rgb(210, 16, 9);
}

#whale {
    width: 100%;
}

#main{
    clear:both;
    width: 100%; height: 100%;
    position:relative;
    display:flex;
}
#color_sea{
    font-size:2vw;
    font-weight:lighter;
    position:absolute;
    top:33%;
    left:80%;
    
}
#new_future{
    font-size:2.8vw;
    position:absolute;
    top:60%;
    left:5%;
    font-weight:345;
}
#various_solutions{
    font-size:1vw;
    line-height:1.5;
    line-height: 150%;
    font-weight:390;
    position:absolute;
    top:75%;
    left:5%;
}


.container {
    display: inline-grid;
    width: 27%;
    border: none;
    font-size:0.8vw;
    grid-template-columns: 0.2fr 7fr 2fr;
}

.item {
    border: none;
    text-align: left;
    padding:5px 0px 3px 0px;
}
.rect{
    align-self: end;
    justify-self:center;
}
.date{
    justify-self: flex-end;
    text-align:justify;
    font-weight:190px;
    color: rgb(128, 128, 128);
}
#announcement{
    font-size:1.35vw;
    font-weight: 800;
    color:rgb(60, 60, 61);
}

.item a{
    text-decoration: none;
    font-size: 0.8vw;
    color:black;
}

/* more button */
.more{
    justify-self:flex-end;
    align-self:center;
}
#line1{
    grid-column: 1/4;
    width:100%;
    border-top:solid;
    color: rgba(199, 199, 199, 0.683);

}
.line {
    grid-column: 1/4;
    width: 86%;
    border-top:dashed 1px;
    color: rgba(199, 199, 199, 0.683);
}
.big_container {
    display: flex;
    width: 100%;
    border: none;
    justify-content: center;
    gap: 5%;
    align-items: start;
    margin-top:1%;
    
}

footer {
    position: relative;
    bottom:0px;
    background: rgb(56, 56, 56);
    margin-top: 15px;
    clear: both;
}
#bottom_list{
    margin: 0% 8%;
    font-size: 100%;
    color:white;
    text-align:left;

}
#blacklogo{
    padding:4% 3% 0% 0%;
    float:right;
    width: 15%;
    height: auto;
}

#cst_{
    font-weight:800;
    padding-top:2%;
    padding-bottom:1%;
    font-size:1.3vw;

} 
.bottom_list1{
    display:flex;
    flex-direction:row;
    justify-content:left;
}
.bottom_list1 li{
    margin: 0px 10px 0px 0px;
    font-size:0.85vw;
}
#list2 {
    gap: 1%;
}

#copyright{
    padding-top:1%;
    padding-bottom:2%;
    font-size:0.6vw;
}

/* tablet view */
@media screen and (max-width: 740px) {
    #menu li:nth-child(3), #menu li:nth-child(5) {
        display: none;
    }

    .big_container {
        flex-direction: column;
        align-items: center;
    }

    #logo{
        width: 70%;
        height: auto;
    }

    #color_sea{
        font-size:3.5vw;
        font-weight:lighter;
        position:absolute;
        top:45%;
        left:5%;
    }
    #new_future{
        font-size:3.6vw;
        position:absolute;
        top:40%;
        left:5%;
        font-weight:345;
        display: none;
    }
    #various_solutions{
        font-size:1.5vw;
        line-height:1.5;
        line-height: 150%;
        font-weight:390;
        position:absolute;
        top:62%;
        left:5%;
    }

    
}

/* mobile view */
@media screen and (max-width: 500px) {
    #menu li:not(:first-child) {
        display: none;
    }

    #navigation {
        display: none;
    }

    #logo{
        width: 50%;
        height: auto;
    }

    #color_sea{
        font-size:3.8vw;
        font-weight:lighter;
        position:absolute;
        top:50%;
        left:5%;
        /* display: none; */
    }
    #new_future{
        font-size:3.8vw;
        position:absolute;
        top:60%;
        left:5%;
        font-weight:345;
        display: none;
    }
    #various_solutions{
        font-size:2vw;
        line-height:1.5;
        line-height: 150%;
        font-weight:390;
        position:absolute;
        top:70%;
        left:5%;
    }
}